<div class="animated fadeIn">
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Servers
      </div>
    <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><i class="fa fa-info-circle"></i> ID</th>
          <th><i class="fa fa-key"></i> API Key</th>
          <th><i class="fa fa-hashtag"></i> Name</th>
          <th><i class="fa fa-server"></i> IP </th>
          <th><i class="fa fa-server"></i> Port</th>
          <th><i class="fa fa-user"></i> Owner SteamID64</th>
          <th><i class="fa fa-lock"></i> Status</th>
          <th> | </th>
          <th> Modify</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let server of serversData | paginate: { itemsPerPage: 10, currentPage: currentPage }">
          <td>{{server.id}}</td>
          <td>
            <span contenteditable [(editableModel)]="server.api_key"></span>
          </td>
          <td>
            <span contenteditable [(editableModel)]="server.name"></span>
          </td>
          <td>
            <span contenteditable [(editableModel)]="server.ip"></span>
          </td>
          <td>
            <span contenteditable [(editableModel)]="server.port"></span>
          </td>
          <td>
            <span contenteditable [(editableModel)]="server.owner_steamid64"></span>
          </td>
          <td>
            <span contenteditable [(editableModel)]="server.approval_status"></span>
          </td>
          <td></td>
          <td>
            <h5>
              <span style="cursor: pointer"
                    class="badge badge-success"
                    mwlConfirmationPopover
                    [title]="title"
                    [message]="modifymsg"
                    (confirm)="modify(server.id)">
                    <i class="fa fa-check"></i> Apply Changes
              </span>
            </h5>
          </td>
          <td>
            <h5>
              <span style="cursor: pointer"
                    class="badge badge-danger"
                    mwlConfirmationPopover
                    [title]="title"
                    [message]="revertmsg"
                    (confirm)="revert(server.id)">
                    <i class="fa fa-check"></i> Revert Changes
              </span>
            </h5>
          </td>
          <td>
            &nbsp;
          </td>
        </tr>
      </tbody>
    </table>
      <pagination-controls class="paginationControls" (pageChange)="currentPage = $event"></pagination-controls>
    </div>
  </div>
</div>
</div>