<div class="card-body">
    <form #serverForm="ngForm" class="form-horizontal">
      <div class="form-group row">
        <div class="col-sm-4">

          <input type="text" pattern="^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$" class="form-control" id="ip" [(ngModel)]="server.ip" name="ip" placeholder="Server IP" #ip="ngModel" required>
          <div [hidden]="!ip.pristine" class="alert alert-danger"> IP Address is required!</div>
          <div [hidden]="ip.pristine || ip.valid" class="alert alert-danger"> IP Address is invalid!</div>
          <div [hidden]="!ip.valid" class="alert alert-success"> Valid </div>

          <input type="number" pattern="^(102[4-9]|10[3-9]\d|1[1-9]\d{2}|[2-9]\d{3}|[1-5]\d{4}|6[0-4]\d{3}|65[0-4]\d{2}|655[0-2]\d|6553[0-5])$" class="form-control" id="port" [(ngModel)]="server.port" name="port" placeholder="Server Port" #port="ngModel" required>
          <div [hidden]="!port.pristine" class="alert alert-danger"> Port Number is required!</div>
          <div [hidden]="port.pristine || port.valid" class="alert alert-danger"> Port Number is invalid!</div>
          <div [hidden]="!port.valid" class="alert alert-success"> Valid </div>

          <input type="text" pattern=".{1,150}" class="form-control" id="name" [(ngModel)]="server.name" name="name" placeholder="Server Name" #name="ngModel" required>
          <div [hidden]="!name.pristine" class="alert alert-danger"> Server Name is required!</div>
          <div [hidden]="name.pristine || name.valid" class="alert alert-danger"> Server Name is invalid!</div>
          <div [hidden]="!name.valid" class="alert alert-success"> Valid </div>

          <div class="alert alert-success" [hidden]="formSubmitted">Please note that your account's steamid will be used as the owner!</div>

        </div>
    </div>
</form>

<div [hidden]="serverForm.form.valid" class="alert alert-info">
    Please fill in the required fields!
</div>

<div class="card-footer">
    <button type="submit"
            class="btn btn-sm btn-primary"
            [disabled]="!serverForm.form.valid"
            mwlConfirmationPopover
            [title]="title"
            [message]="message"
            (confirm)="apply()">
            <i class="fa fa-user"></i> Submit
    </button>
</div>

<br>
<div class="alert alert-success" [hidden]="!formSubmitted">You have submitted the following details:</div>
<div class="alert alert-info" [hidden]="!formSubmitted">Server IP: {{server.ip}}</div>
<div class="alert alert-info" [hidden]="!formSubmitted">Server Port: {{server.port}}</div>
<div class="alert alert-info" [hidden]="!formSubmitted">Server Name: {{server.name}}</div>
