<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Bans
                </div>

        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th><i class="fa fa-info-circle"></i> Ban ID</th>
                        <th><i class="fa fa-user"></i> SteamID64</th>
                        <th><i class="fa fa-cubes"></i> Type</th>
                        <th><i class="fa fa-commenting"></i> Notes</th>
                        <th><i class="fa fa-sticky-note"></i> Stats</th>
                        <th><i class="fa fa-server"></i> Server ID</th>
                        <th><i class="fa fa-hourglass"></i> Expires</th>
                        <th><i class="fa fa-lock"></i>Active?</th>
                        <th> | </th>
                        <th><i class="fa fa-check"></i> Apply Changes</th>
                        <th><i class="fa fa-ban fa-fw"></i> Revert Changes</th>
                    </tr>
                </thead>
            <tbody>

            <tr *ngFor="let ban of bansData | paginate: { itemsPerPage: 10, currentPage: currentPage }">
            <td>{{ban.id}}</td>
            <td>{{ban.steamid64}}</td>
            <td>{{ban.ban_type}}</td>
            <td>
                    <span contenteditable [(editableModel)]="ban.notes"></span>
            </td>
            <td class="tooltip"
                style="cursor: pointer"
                ngxClipboard
                [cbContent]="ban.stats"
                (click)="copySuccess()"
                tooltip="{{ban.stats}}"
                placement="right">Stats
            </td>
            <td>{{ban.server_id}}</td>
            <td>
                    <span [hidden]="printBanLength(ban.expires_on) != 'PERMANENT'" class="badge badge-danger">PERMANENT</span>
                    <span [hidden]="printBanLength(ban.expires_on) == 'PERMANENT'" class="badge badge-success">{{printBanLength(ban.expires_on)}}</span>
            </td>
            <td></td>
            <td>
                <h5>
                    <span style="cursor: pointer"
                          class="badge badge-success"
                          mwlConfirmationPopover
                          [title]="title"
                          [message]="modifymsg"
                          (confirm)="modify(ban.id)">
                          <i class="fa fa-check"></i> Apply changes
                    </span>
                </h5>
            </td>
            <td>
                <h5>
                    <span style="cursor: pointer"
                          class="badge badge-danger"
                          mwlConfirmationPopover
                          [title]="title"
                          [message]="revertmsg"
                          (confirm)="revert(ban.id)">
                          <i class="fa fa-check"></i> Revert Changes
                    </span>
                </h5>
              </td>
              <td>
                    <h5>
                        <span style="cursor: pointer"
                              class="badge badge-success"
                              mwlConfirmationPopover
                              [title]="title"
                              [message]="unbanmsg"
                              (confirm)="unban(ban.id)">
                              <i class="fa fa-check"></i> Unban
                        </span>
                    </h5>
                  </td>
              <td>
                &nbsp;
              </td>
            </tr>
          </tbody>
        </table>
      <pagination-controls class="paginationControls" (pageChange)="currentPage = $event"></pagination-controls>
    </div>
  </div>
</div>