<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Maps
        </div>
      <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th><i class="fa fa-info-circle"></i> ID</th>
            <th><i class="fa fa-map"></i> Map Name</th>
            <th><i class="fa fa-file-code-o"></i> Filesize</th>
            <th><i class="fa fa-user"></i> Approver</th>
            <th><i class="fa fa-industry"></i> Difficulty</th>
            <th><i class="fa fa-map-marker"></i> Stages</th>
            <th><i class="fa fa-lock"></i> Validated</th>
            <th> | </th>
            <th><i class="fa fa-check"></i> Apply Changes</th>
            <th><i class="fa fa-ban fa-fw"></i> Revert Changes</th>
            <th><i class="fa fa-trash"></i> Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let map of mapsData | paginate: { itemsPerPage: 10, currentPage: currentPage }">
            <td>{{map.id}}</td>
            <td>
              <span contenteditable [(editableModel)]="map.name"></span>
            </td>
            <td>
              <span contenteditable [(editableModel)]="map.filesize"></span>
            </td>
            <td>
              <span contenteditable [(editableModel)]="map.approved_by"></span>
            </td>
            <td>
              <span contenteditable [(editableModel)]="map.difficulty"></span>
            </td>
            <td>-</td>
            <td>
              <select [(ngModel)]="map.validated" id="select" name="select"> {{map.validated}}
                <option value="true">Validated</option>
                <option value="false">Not Validated</option>
              </select>
            </td>
            <td></td>
            <td>
              <h5>
                <span style="cursor: pointer"
                      class="badge badge-success"
                      mwlConfirmationPopover
                      [title]="title"
                      [message]="modifymsg"
                      (confirm)="modify(map.id)">
                      <i class="fa fa-check"></i> Apply Changes
                </span>
              </h5>
            </td>
            <td>
              <h5>
                <span style="cursor: pointer"
                      class="badge badge-danger"
                      mwlConfirmationPopover
                      [title]="title"
                      [message]="revertmsg"
                      (confirm)="revert(map.id)">
                      <i class="fa fa-check"></i> Revert Changes
                </span>
              </h5>
            </td>
            <td>
              <h5>
                <span style="cursor: pointer"
                      class="badge badge-danger"
                      mwlConfirmationPopover
                      [title]="title"
                      [message]="deletemsg"
                      (confirm)="delete(map.id)">
                      <i class="fa fa-trash"></i> Delete
                </span>
              </h5>
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
        </tbody>
      </table>
    <pagination-controls class="paginationControls" (pageChange)="currentPage = $event"></pagination-controls>
    <h4><span class="badge badge-success" (click)="addMap()">Add Map</span></h4>
    <h4><span class="badge badge-success" (click)="toggleValidated()">Toggle Validated</span></h4>
  </div>
</div>
</div>