<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Modes
        </div>
      <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Latest Version</th>
            <th>Latest Version Desc</th>
            <th>Website</th>
            <th>Repository</th>
            <th>Mode Owner (SteamID64)</th>
            <th> | </th>
            <th> Apply Changes</th>
            <th> Revert Changes</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let mode of modesData | paginate: { itemsPerPage: 10, currentPage: currentPage }">
            <td>{{mode.id}}</td>
            <td>
              <span contenteditable [(editableModel)]="mode.name"></span>
            </td>
            <td>
              <span contenteditable [(editableModel)]="mode.description"></span>
            </td>
            <td>
              <span contenteditable [(editableModel)]="mode.latest_version"></span>
            </td>
            <td>
              <span contenteditable [(editableModel)]="mode.latest_version_description"></span>
            </td>
            <td>
              <span contenteditable [(editableModel)]="mode.website"></span>
            </td>
            <td>
              <span contenteditable [(editableModel)]="mode.repo"></span>
            </td>
            <td>
              <span contenteditable [(editableModel)]="mode.contact_steamid64"></span>
            </td>
            <td></td>
            <td>
              <h5>
                <span style="cursor: pointer"
                      class="badge badge-success"
                      mwlConfirmationPopover
                      [title]="title"
                      [message]="modifymsg"
                      (confirm)="modify(mode.id)">
                      <i class="fa fa-check"></i> Apply Changes
                </span>
              </h5>
            </td>
            <td>
              <h5>
                <span style="cursor: pointer"
                      class="badge badge-danger"
                      mwlConfirmationPopover
                      [title]="title"
                      [message]="revertmsg"
                      (confirm)="revert(mode.id)">
                      <i class="fa fa-check"></i> Revert Changes
                </span>
              </h5>
            </td>
          </tr>
        </tbody>
      </table>
        <pagination-controls class="paginationControls" (pageChange)="currentPage = $event"></pagination-controls>
      </div>
    </div>
  </div>
  </div>