<header class="app-header navbar">

  <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" [routerLink]="['/']"></a>

  <button class="navbar-toggler d-md-down-none" type="button" appSidebarToggler>
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item px-3">
      <a class="nav-link" [routerLink]="['/']">Dashboard</a>
    </li>
  </ul>

  <ul class="nav navbar-nav ml-auto">

    <li class="nav-item dropdown" dropdown placement="bottom right">

      <a class="nav-link dropdown-toggle nav-link" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
        <img src="{{profileIcon}}" class="img-avatar">
        <span class="d-md-down-none" style="color:red">({{role}})</span>
        <span class="d-md-down-none" style="color: blue">{{steamid64}}</span>
      </a>

      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">

        <div class="dropdown-header text-center"><strong>Profile</strong></div>
        <a class="dropdown-item" [routerLink]="['/bans/view/me']"><i class="fa fa-gavel"></i> My Bans </a>
        <a class="dropdown-item" [routerLink]="['/servers/view']"><i class="fa fa-server"></i> My Servers</a>
        <a class="dropdown-item" [routerLink]="['/records/view/me']"><i class="fa fa fa-trophy"></i> My Records</a>

        <div class="dropdown-header text-center"><strong>Account</strong></div>
        <a style="cursor: pointer" class="dropdown-item"><i class="fa fa-envelope-o"></i> Change Email Address</a>
        <a style="cursor: pointer" class="dropdown-item" (click)="logout()"><i class="fa fa-lock"></i> Logout</a>

      </div>
    </li>
    <button class="navbar-toggler d-md-down-none" type="button" (click)="reload()">
      <i class="fa fa-refresh"></i>
    </button>
  </ul>
</header>
