<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="clearfix">
          <h1 class="float-left display-3 mr-4">404</h1>
          <h4 class="pt-3">Oops! Seems like you're lost.</h4>
          <p class="text-muted">The page you were hunting for doesnt exist!</p>
        </div>
        <div class="input-prepend input-group">
          <a [routerLink]="['/']"><h3>You should head out, its not safe here</h3></a>
        </div>
      </div>
    </div>
  </div>
</div>
