<div class="card-body">
    <form action="" method="post" class="form-horizontal">
      <div class="form-group row">
        <div class="col-sm-4">
          <input type="text" class="form-control" placeholder="SteamID64">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-4">
          <input type="text" class="form-control" placeholder="Server ID">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-4">
          <input type="text" class="form-control" placeholder="Map ID">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-4">
          <input type="text" class="form-control" placeholder="Stage">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-4">
          <input type="text" class="form-control" placeholder="Mode">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-4">
          <input type="text" class="form-control" placeholder="Tickrate">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-4">
          <input type="text" class="form-control" placeholder="Time">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-4">
          <input type="text" class="form-control" placeholder="Teleports">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-4">
          <input type="text" class="form-control" placeholder="Reason">
        </div>
      </div>
    </form>
  </div>
<div class="card-footer">
    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-user"></i> Submit</button>
</div>
