<div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> <b>{{recordsTitle}}</b>
          </div>
        <div class="card-body">
        <h1 [hidden]="!ready" *ngIf="recordsData.length == 0">
            <span *ngIf="!selfRoute" [hidden]="!ready" class="badge badge-info">There seems to be no recent records...</span>
            <span *ngIf="selfRoute" [hidden]="!ready" class="badge badge-info">You dont seem to have any records :(</span>
        </h1>
        <table class="table table-striped">
          <thead>
            <tr>
              <th><i class="fa fa-info-circle"></i> Record ID</th>
              <th *ngIf="!selfRoute"><i class="fa fa-trophy"></i> Rank</th>
              <th><i class="fa fa-hashtag"></i> Type</th>
              <th *ngIf="!selfRoute"><i class="fa fa-user"></i> Name / SteamID64</th>
              <th><i class="fa fa-map"></i> Map ID</th>
              <th><i class="fa fa-map-marker"></i> Stage</th>
              <th><i class="fa fa-clock-o"></i> Time</th>
              <th><i class="fa fa-repeat"></i> Teleports</th>
              <th><i class="fa fa-bar-chart"></i> Tickrate</th>
              <th><i class="fa fa-gamepad"></i> Mode</th>
              <th><i class="fa fa-server"></i> Server ID</th>
              <th><i class="fa fa-calendar"></i> Record Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let record of recordsData | paginate: { itemsPerPage: 10, currentPage: currentPage }">
              <td>{{record.id}}</td>
              <td *ngIf="!selfRoute">
                <span *ngIf="record.top_100 == 1" class="badge badge-success">#{{record.top_100}}</span>
                <span *ngIf="record.top_100 == 2" class="badge badge-primary">#{{record.top_100}}</span>
                <span *ngIf="record.top_100 == 3" class="badge badge-warning">#{{record.top_100}}</span>
                <span *ngIf="record.top_100 >= 4" class="badge badge-danger">#{{record.top_100}}</span>
              </td>
              <td>
                <span style="color: red" *ngIf="record.teleports == 0">PRO</span>
                <span style="color: blue" *ngIf="record.teleports > 0">TP</span>
              </td>
              <td *ngIf="!selfRoute">
                <a href="https://steamcommunity.com/profiles/{{record.steamid64}}">
                  {{record.player_name}}
                </a>
              </td>
              <td>{{record.map_id}}</td>
              <td>{{record.stage}}</td>
              <td style="color: lime">{{formatRecordTime(record.time)}}</td>
              <td>{{record.teleports}}</td>
              <td>{{record.tickrate}}</td>
              <td>{{record.mode}}</td>
              <td>{{record.server_id}}</td>
              <td class="badge badge-success">{{formatRecordDate(record.created_on)}}</td>
              </tr>
            </tbody>
          </table>
        <pagination-controls class="paginationControls" (pageChange)="currentPage = $event"></pagination-controls>
      </div>
    </div>
  </div>
</div>
