<div class="card-body">
    <form action="" method="post" class="form-horizontal">
      <div class="form-group row">
        <div class="col-sm-4">
          <input type="text" class="form-control" placeholder="Record ID">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-4">
          <input [disabled]="inputDisabled1" type="text" class="form-control" placeholder="SteamID64">
        </div>
        <label class="switch switch-icon switch-pill switch-primary">
            <input type="checkbox" class="switch-input" (click)="disableInput(1)" not-checked>
            <span class="switch-label"></span>
            <span class="switch-handle"></span>
        </label>
      </div>
      <div class="form-group row">
        <div class="col-sm-4">
          <input [disabled]="inputDisabled2" class="form-control" placeholder="Server ID">
        </div>
        <label class="switch switch-icon switch-pill switch-primary">
            <input type="checkbox" class="switch-input" (click)="disableInput(2)" not-checked>
            <span class="switch-label"></span>
            <span class="switch-handle"></span>
        </label>
      </div>
      <div class="form-group row">
        <div class="col-sm-4">
          <input [disabled]="inputDisabled3" type="text" class="form-control" placeholder="Map ID">
        </div>
        <label class="switch switch-icon switch-pill switch-primary">
            <input type="checkbox" class="switch-input" (click)="disableInput(3)" not-checked>
            <span class="switch-label"></span>
            <span class="switch-handle"></span>
        </label>
      </div>
      <div class="form-group row">
        <div class="col-sm-4">
          <input [disabled]="inputDisabled4" type="text" class="form-control" placeholder="Stage">
        </div>
        <label class="switch switch-icon switch-pill switch-primary">
            <input type="checkbox" class="switch-input" (click)="disableInput(4)" not-checked>
            <span class="switch-label"></span>
            <span class="switch-handle"></span>
        </label>
      </div>
      <div class="form-group row">
        <div class="col-sm-4">
          <input [disabled]="inputDisabled5" type="text" class="form-control" placeholder="Mode">
        </div>
        <label class="switch switch-icon switch-pill switch-primary">
            <input type="checkbox" class="switch-input" (click)="disableInput(5)" not-checked>
            <span class="switch-label"></span>
            <span class="switch-handle"></span>
        </label>
      </div>
      <div class="form-group row">
        <div class="col-sm-4">
          <input [disabled]="inputDisabled6" type="text" class="form-control" placeholder="Tickrate">
        </div>
        <label class="switch switch-icon switch-pill switch-primary">
            <input type="checkbox" class="switch-input" (click)="disableInput(6)" not-checked>
            <span class="switch-label"></span>
            <span class="switch-handle"></span>
        </label>
      </div>
      <div class="form-group row">
        <div class="col-sm-4">
          <input [disabled]="inputDisabled7" type="text" class="form-control" placeholder="Time">
        </div>
        <label class="switch switch-icon switch-pill switch-primary">
            <input type="checkbox" class="switch-input" (click)="disableInput(7)" not-checked>
            <span class="switch-label"></span>
            <span class="switch-handle"></span>
        </label>
      </div>
      <div class="form-group row">
        <div class="col-sm-4">
          <input [disabled]="inputDisabled8" type="text" class="form-control" placeholder="Teleports">
        </div>
        <label class="switch switch-icon switch-pill switch-primary">
            <input type="checkbox" class="switch-input" (click)="disableInput(8)" not-checked>
            <span class="switch-label"></span>
            <span class="switch-handle"></span>
        </label>
      </div>
      <div class="form-group row">
        <div class="col-sm-4">
          <input type="text" class="form-control" placeholder="Reason">
        </div>
      </div>
    </form>
    <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-user"></i> Submit</button>
    </div>
  </div>
